<!DOCTYPE html>
<html>
	<body>
        
		<h1>Welcome, {{data.username}}. You are logged in</h1>

		<a href="{{url_for('login')}}">Logout</a>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
		
        {% block body %}
                <p><strong>email:</strong> {{data.email}}
                    <p><strong>first name:</strong> {{data.fname}}
                        <p><strong>last name:</strong> {{data.lname}}
                <p><strong>Number of words in file</strong> {{data.wcount}}
                <br><a href="{{url_for('download')}}">Download the file</a>
        {% endblock %}
	    
	</body>
</html>


